.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

table{
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

::ng-deep th.mat-header-cell{
  width: 140px;
  min-width: 140px;
}

.example-button-row {
  display: table-cell;
  width: 100%;
}

.example-button-row button {
  display: table-cell;
  margin-right: 8px;
  border: none;
}

.mat-card{
  padding: 32px;
  margin-top: 2%;
}

.mat-stroked-button{
  border: none; 
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
}