<div *ngIf="isModal" class="p-3 d-flex justify-content-between">
    <div>Account information</div>
    <i (click)="hideModal()" class="fas fa-times cursor-pointer"></i>
</div>
<div [ngClass]="{'pl-3 pr-3': isModal}" class="toggle w-fit d-flex align-items-center">
    <span class="label pl-0">Edit information</span>
    <!-- <ui-switch size="small" [disabled]="saving" [ngModel]="allowEdit" (ngModelChange)="onChange($event)"></ui-switch> -->
</div>
<form [formGroup]="accountForm" enctype="multipart/form-data" (ngSubmit)="save()" [ngClass]="{'pl-3 pr-3 pb-3': isModal}">
    <div class="form-group">
        <br>
        <span>First name</span>
        <div class="input-group">
            <input formControlName="firstName" type="text" [class.is-invalid]="isInvalid('firstName')"
                [class.is-valid]="isValid('firstName')" class="form-control" placeholder="First name">
        </div>
        <small *ngIf="isInvalid('firstName')" class="form-text text-danger">First name is
            required.</small>
    </div>
    <div class="form-group">
        <span>Last name</span>
        <div class="input-group">
            <input formControlName="lastName" type="text" [class.is-invalid]="isInvalid('lastName')"
                [class.is-valid]="isValid('lastName')" class="form-control" placeholder="Last name">
        </div>
        <small *ngIf="isInvalid('lastName')" class="form-text text-danger">Last name is
            required.</small>
    </div>
    <div class="form-group">
        <span>Username</span>
        <div class="input-group">
            <input formControlName="username" type="text" [class.is-invalid]="isInvalid('username')"
                [class.is-valid]="isValid('username')" class="form-control" placeholder="Username">
        </div>
        <small *ngIf="isInvalid('username')" class="form-text text-danger">Username
            is required.</small>
    </div>

    <div class="form-group">
        <span>CNP</span>
        <div class="input-group">
            <input formControlName="cnp" type="text" [class.is-invalid]="isInvalid('cnp')"
                [class.is-valid]="isValid('cnp')" class="form-control" placeholder="CNP">
        </div>
        <small *ngIf="isInvalid('cnp')" class="form-text text-danger">CNP
            is required.</small>
    </div>

    <div class="form-group">
        <span>Email</span>
        <div class="input-group">
            <input formControlName="email" type="text" [class.is-invalid]="isInvalid('email')"
                [class.is-valid]="isValid('email')" class="form-control" placeholder="Email">
        </div>
        <small *ngIf="isInvalid('email') && email.errors?.required" class="form-text text-danger">Email
            is required.</small>
        <small *ngIf="email.errors?.email" class="form-text text-danger">Email
            is not valid.</small>
    </div>
    <div class="form-group">
        <span>Address</span>
        <div class="input-group">
            <textarea formControlName="address" [class.is-invalid]="isInvalid('address')"
                [class.is-valid]="isValid('address')" class="form-control" placeholder="Address"></textarea>
        </div>
        <small *ngIf="isInvalid('address')" class="form-text text-danger">Address is
            required.</small>
    </div>  

    <div *ngIf="profilePic.name!==null">
        Current profile picture
        <img src="data:image/jpg;base64,{{imgSrc}}" [width]="WIDTH" [height]="HEIGHT">
    </div>

    <div class="video-container" *ngIf="!error">
        <video [class.show]="!isCaptured" [class.hide]="isCaptured" #video id="video" [width]="WIDTH" [height]="HEIGHT"
            autoplay></video>
        <canvas [class.show]="isCaptured" [class.hide]="!isCaptured" #canvas id="canvas" [width]="WIDTH"
            [height]="HEIGHT" name="imageFile"></canvas>
    </div>

    <div class="snap-container">
        <button class="btn btn-primary" *ngIf="!isCaptured" (click)="capture()">Snap Photo</button>
        <button class="btn btn-danger" *ngIf="isCaptured" (click)="removeCurrent()">Take Another</button>
        <button class="btn btn-danger" *ngIf="isCaptured" (click)="savePhoto()">Save photo</button>
    </div>
    
    <div class="form-group">
        <input [disabled]="accountForm.invalid" type="submit" value="Save changes" class="btn btn-sm btn-success">
    </div>
</form>