<div>
    <button mat-stroked-button (click)="openModal()"  *ngIf="isAdmin()">New subscription</button>
    <div *ngIf="!hasSubscription && !isAdmin()" class="flex-container">
        <div *ngFor="let sub of subscriptions" style="margin-right: 2%;">
            <mat-card>
                <mat-card-title>{{ sub.name }}</mat-card-title>
                <br>
                <mat-card-content>
                    <div *ngFor="let ben of sub.benefits">
                        <h5>{{ ben.description }}</h5>
                    </div>
                    <p style="font-weight:bold">{{ sub.price }} RON</p>
                </mat-card-content>
    
                <mat-card-footer>
                    <button mat-stroked-button *ngIf="!hasSubscription" (click)="activate(sub)" [disabled]="deleteLoading">Activate subscription</button>
                    <button mat-stroked-button *ngIf="hasSubscription" (click)="deactivate()" [disabled]="deleteLoading">Deactivate subscription</button>
                </mat-card-footer>
            </mat-card>
    
        </div>
    </div>

    <div *ngIf="hasSubscription && !isAdmin()">
        <mat-card>
            <mat-card-title>{{ subscription.name }}</mat-card-title>
            <br>
            <mat-card-content>
                <div *ngFor="let ben of subscription.benefits">
                    <h5>{{ ben.description }}</h5>
                </div>
                <p style="font-weight:bold">{{ subscription.price }} RON</p>
            </mat-card-content>

            <mat-card-footer>
                <button mat-stroked-button *ngIf="!hasSubscription" (click)="activate(subscription)" [disabled]="deleteLoading">Activate subscription</button>
                <button mat-stroked-button *ngIf="hasSubscription" (click)="deactivate()" [disabled]="deleteLoading">Deactivate subscription</button>
            </mat-card-footer>
        </mat-card>
    </div>

    <div *ngIf="isAdmin()" class="flex-container">
        
        <div *ngFor="let sub of subscriptions" style="margin-right: 2%;">
            <mat-card>
                <mat-card-title>{{ sub.name }}</mat-card-title>
                <br>
                <mat-card-content>
                    <div *ngFor="let ben of sub.benefits">
                        <h5>{{ ben.description }}</h5>
                    </div>
                    <p style="font-weight:bold">{{ sub.price }} RON</p>
                </mat-card-content>
    
                <mat-card-footer>
                    <button style="margin: 10px;" mat-stroked-button (click)="openSubscriptionModal(sub)">Edit subscription</button>
                    <button style="margin: 10px;" mat-stroked-button (click)="delete(sub)" [disabled]="deleteLoading">Delete subscription</button>
                </mat-card-footer>
            </mat-card>
    
        </div>
    </div>
</div>