<div class="mat-elevation-z8">
    <mat-table #table [dataSource] = "retentionData" matSort>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <th mat-cell *matCellDef="let retention; let i=index">{{ i+1 }}</th>
        </ng-container>

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>First name</th>
            <th mat-cell *matCellDef="let retention">{{ retention.client?.firstName }}</th>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last name</th>
            <th mat-cell *matCellDef="let retention">{{ retention.client?.lastName }}</th>
        </ng-container>

        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
            <th mat-cell *matCellDef="let retention">{{ retention.client?.username }}</th>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <th mat-cell *matCellDef="let retention">{{ retention.client?.email }}</th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

    </mat-table>
    <mat-paginator 
                        [length]="length"
                        [pageSize]="pageSize"
                        [pageIndex]="pageIndex"
                        (page)="handleRequest($event)"
                        [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons="true"></mat-paginator>
</div>