full-width {
    width: 100%;
}

.flex-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 100000;
  }