<div class="mat-elevation-z8">
    <mat-table #table [dataSource] = "subscriptionsAudit" matSort>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <th mat-cell *matCellDef="let sub; ">{{ sub.id }}</th>
        </ng-container>

        <ng-container matColumnDef="rev">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rev</th>
            <th mat-cell *matCellDef="let sub; ">{{ sub.rev }}</th>
        </ng-container>

        <ng-container matColumnDef="revTypeString">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Revision type</th>
            <th mat-cell *matCellDef="let sub; ">{{ sub.revTypeString }}</th>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <th mat-cell *matCellDef="let sub">{{ sub.name }}</th>
        </ng-container> 

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
            <th mat-cell *matCellDef="let sub">{{ sub.price }}</th>
        </ng-container> 

        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
            <th mat-cell *matCellDef="let sub; ">{{ sub.user }}</th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

    </mat-table>
    <mat-paginator 
                    [length]="length"
                    [pageSize]="pageSize"
                    [pageIndex]="pageIndex"
                    (page)="handleRequest($event)"
                    [pageSizeOptions]="[2, 5, 10, 20]"  showFirstLastButtons="true"></mat-paginator>
</div>

<div *ngIf="subscriptionsAudit?.data?.length === 0">
    <p>There are no subscription audit informations</p>
</div>