<div class="p-3">
    <div class="d-flex justify-content-between">
        <div class="pb-3">{{ account ? 'Edit' : 'New' }} account</div>
        <i (click)="hideModal()" class="fas fa-times cursor-pointer"></i>
    </div>
    <form [formGroup]="accountForm" (ngSubmit)="save()">

        <div class="form-group">
            <div class="input-group">
                <input formControlName="name" type="text" [class.is-invalid]="isInvalid('name')"
                    [class.is-valid]="isValid('name')" class="form-control" placeholder="Account name">
            </div>
            <small *ngIf="isInvalid('name')" class="form-text text-danger">Name is required.</small>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input formControlName="details" type="text" [class.is-invalid]="isInvalid('details')"
                    [class.is-valid]="isValid('details')" class="form-control" placeholder="Details">
            </div>
            <small *ngIf="isInvalid('details')" class="form-text text-danger">Details are required.</small>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input formControlName="amount" type="number" [class.is-invalid]="isInvalid('amount')"
                    [class.is-valid]="isValid('amount')" class="form-control" placeholder="100">
                <div class="input-group-append">
                    <span class="input-group-text">RON</span>
                </div>
            </div>
            <small *ngIf="isInvalid('amount')" class="form-text text-danger">Amount is required.</small>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input formControlName="clientId" type="number" class="form-control" style="display: none;">
                <div class="input-group-append">

                </div>
            </div>

        </div>

        <div class="form-group mb-0">
            <input type="submit" [value]="account ? 'Save changes' : 'Create'" class="btn btn-sm btn-success">
        </div>
    </form>
</div>