<div class="mat-elevation-z8" *ngIf="benefits?.data?.length !== 0">
    <mat-table #table [dataSource] = "benefits" matSort>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <th mat-cell *matCellDef="let benefit; ">{{ benefit.id }}</th>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>First name</th>
            <th mat-cell *matCellDef="let benefit">{{ benefit.description }}</th>
        </ng-container> 

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

    </mat-table>
    <mat-paginator 
                    [length]="length"
                    [pageSize]="pageSize"
                    [pageIndex]="pageIndex"
                    (page)="handleRequest($event)"
                    [pageSizeOptions]="[2, 5, 10, 20]"  showFirstLastButtons="true"></mat-paginator>
</div>

<div *ngIf="benefits?.data?.length === 0">
    <p>There are no benefits</p>
</div>