<div fxLayout="row" fxLayoutAlign="center center" class = "login-wrapper">
  
  <div mat-card class = "box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <div *ngIf="!validLogin" class="alert alert-danger">Invalid username or password.</div>
    
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">

        <mat-form-field>
          <input formControlName="username" type="text" [class.is-invalid]="isInvalid('username')"
            [class.is-valid]="isValid('username')" class="form-control" matInput placeholder="Username">
          <small *ngIf="isInvalid('username')" class="form-text text-danger">Username is
                required.</small>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="password" type="password" [class.is-invalid]="isInvalid('password')"
            [class.is-valid]="isValid('password')" class="form-control" matInput placeholder="Password">
          <small *ngIf="isInvalid('password')" class="form-text text-danger">Password is
                required.</small>
        </mat-form-field>

        <mat-card-actions class="example-button-row">
          <button mat-stroked-button >Log in</button>
          <button mat-stroked-button routerLink="/register">Register</button>
          <button (click)="signInWithGoogle()">Sign in with Google</button>
        </mat-card-actions>
        
      </form>
    </mat-card-content>
  </div> 

  <div class="box">
    <h2>Features</h2>
    <p>Simulates operations over a bank account, such as deposit, withdraw and transfer money, also delete account.</p>
    <p>After each operation, user receives a receipt via email containg details about his action.</p>
    <p>Added subscriptions similar to phone monthly plan.</p>
    <p>Admin can see all user's operations, clients and accounts.</p>
    <p>Added auditing features for some tables</p>

  </div>

  <div class="box>">
    <h2>TODO:</h2>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item role="listitem">Subscription expires after 28 days</mat-list-item>
    </mat-list>
  </div>

  <div class="box">
    <h2>Used technologies</h2>
    <p>Java 8</p>
    <p>Angular 9</p>
    <p>Spring Framework</p>
    <p>Login via JWT</p>
    <p>OAuth2 for Google Login</p>
  </div>
</div>