@import '~ngx-toastr/toastr';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~material-design-icons/iconfont/material-icons.css';
@use '@material/button/mdc-button';

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}

.w-fit {
    width: fit-content;
}

.mh-100 {
    max-height: 100%;
}

.oy-h {
    overflow-y: hidden !important;
}

.ml-10px {
    margin-left: 10px;
}

.m-25 {
    margin: .75rem !important;
}

.mt-25 {
    margin-top: .75rem !important;
}

.mr-25 {
    margin-right: .75rem !important;
}

.mb-25 {
    margin-bottom: .75rem !important;
}

.ml-25 {
    margin-left: .75rem !important;
}

.fa-rotate-45 {
    transform: rotate(45deg);
}

.table-wrapper {
    overflow: auto;
}

.login-register-logo {
    width: 150px;
    margin: 20px 0;
}

.navbar-toggler {
    padding: 2px 6px;
    font-size: 16px;
}

.navbar-toggler-icon {
    width: 20px;
    height: 20px;
}

.navbar-gradient {
    min-height: 5px;
    padding: 0;
    background: linear-gradient(to right, #ff1d25 5%, #a0328c 35%, #7040a4 45%, #4359c7 55%, #0082e6 70%);
}

.navbar-brand img {
    width: 135px;
}

.navbar-gradient .nav-item.nav-link {
    color: #FFFFFF;
    padding-top: 0;
    padding-bottom: 0;
    margin: 7px 6px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 13px;
}

.navbar-gradient .nav-item.nav-link {
    padding: 0 .5rem;
}

.navbar-gradient .nav-item.nav-link.active {
    color: #000;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.navbar-gradient .nav-item.nav-link:hover {
    border-color: #FFFFFF;
}

.navbar-gradient .nav-item.nav-link.active:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-color: #FFFFFF;
}

.navbar-brand img {
    border-radius: 4px;
}

.dropdown-item:active {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.wish-max-width {
    max-width: 224px;
}

.shop-max-width {
    max-width: 268px;
}

.place-order {
    width: calc(100% - 3rem);
    margin: .25rem auto;
}

.cursor-pointer {
    cursor: pointer;
}

.container {
    /* height: calc(100% - 64px) !important; */
}

.scroll-fix {
    height: calc(100% - 59px - 64px) !important;
}

.toggle .label {
    padding: 5px;
    font-size: 18px;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px;
}

.cdk-overlay-container, .cdk-overlay-pane {
    z-index: 9999 !important;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

@media screen and (max-width: 425px) {
    .navbar-brand {
        display: flex;
        margin-right: 0;
    }

    .navbar-brand img {
        width: 100px;
        margin: auto;
    }
}

@media screen and (max-width: 360px) {
    .scroll-fix {
        height: calc(100% - 59px - 88px) !important;
    }
}

@media screen and (min-width: 576px) {
    .card-columns {
        column-gap: .75rem;
        column-count: 2;
    }

    .logout {
        margin-left: auto !important;
    }
}

@media screen and (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }

}

@media screen and (min-width: 1200px){
    .container{
        max-width: 1300px;
    }
    .mat-table{
        width: 100%;
        max-width: 1400px;
    }
    .box{
        max-width: 400px;
    }
}

body {font-family: Roboto, "Helvetica Neue", sans-serif;}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
